<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alizeecamarasa.planit" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:logo="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/MyCustomTheme"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:name=".PlanItApplication"
    >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- GÉNÉRAL -->
        <activity android:name=".Hamburger"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>

        <activity android:name="org.achartengine.GraphicalActivity" />
        <!-- END GÉNÉRAL -->

        <!-- PAGE D'ACCUEIL -->
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- END PAGE D'ACCUEIL -->


        <!-- PAGE EVENT -->
        <activity android:name=".EventActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>

        <activity android:name=".events.AddEvent"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>

        <activity android:name=".module.AddModule"
            android:configChanges="orientation|screenSize|keyboardHidden">

        </activity>
        <!-- END PAGE EVENT -->


        <!-- PAGE MODULE GUEST -->
        <activity android:name=".guest.GuestActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>

        <activity android:name=".guest.Guest.AddGuest"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>

        <activity android:name=".guest.Guest.ChangeGuest"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>

        <activity android:name=".guest.TypeGuest.AddTypeGuest"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <!-- END MODULE GUEST -->

        <!-- MODULE BUDGET -->
        <activity android:name=".budget.BudgetActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>

        <activity android:name=".budget.Item.SeeItem"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>

        <activity android:name=".budget.Item.AddItem"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>

        <activity android:name=".budget.Item.ChangeItem"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>

        <activity android:name=".budget.TypeBudget.AddTypeBudget"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <!-- END MODULE BUDGET -->

        <!-- MODULE TO_DO -->
        <activity android:name=".todo.TodoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <!-- END MODULE TO_DO -->

        <!-- MODULE PLACE -->
        <activity android:name=".place.PlaceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity android:name=".place.SeePlace"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity android:name=".place.ChangePlace"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <!-- END MODULE PLACE -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCm9w9Omg_2jMzeQOrzaqSwJvxJZkBmk6I"/>

    </application>

</manifest>
